.vs/
*.VC.db
*.VC.opendb
*.suo
*.user
*.userosscache
*.sln.docstates

[Bb]in/
[Oo]bj/
x64/
x86/
Debug/
Release/
ipch/


*.log
*.tlog
*.lastbuildstate
*.cache
*.pdb
*.ilk
*.exe
*.dll
*.lib
*.exp
*.idb


*.opensdf
*.sdf
*.db
*.opendb
*.ipdb
*.iobj


packages/
*.nupkg


*.zip
*.7z
*.tar
*.gz


*.dll
*.dat
*.pyc
*.swp
*.tmp
*.bak
